*Debug/*
*x64/*
*.config
.vs/*
packages/*
*.aps
*.sln
*.vcxproj*

/war-frontlines/x64/Debug/Base.obj
/war-frontlines/x64/Debug/BaseView.obj
/war-frontlines/x64/Debug/BattleScene.obj
/war-frontlines/x64/Debug/EnemyBaseView.obj
/war-frontlines/x64/Debug/FriendlyBaseView.obj
/war-frontlines/x64/Debug/Game.obj
/war-frontlines/x64/Debug/main.obj
/war-frontlines/x64/Debug/MainMenu.obj
/war-frontlines/x64/Debug/NeutralBaseView.obj
/war-frontlines/x64/Debug/SharedData.obj
/war-frontlines/x64/Debug/UserMenu.obj
/war-frontlines/x64/Debug/vc143.idb
/war-frontlines/x64/Debug/vc143.pdb
/war-frontlines/x64/Debug/war-frontlines.exe.recipe
/war-frontlines/x64/Debug/war-frontlines.ilk
/war-frontlines/x64/Debug/war-frontlines.log
/war-frontlines/x64/Debug/war-frontlines.res
/war-frontlines/x64/Debug/war-frontlines.tlog/CL.command.1.tlog
/war-frontlines/x64/Debug/war-frontlines.tlog/Cl.items.tlog
/war-frontlines/x64/Debug/war-frontlines.tlog/CL.read.1.tlog
/war-frontlines/x64/Debug/war-frontlines.tlog/CL.write.1.tlog
/war-frontlines/x64/Debug/war-frontlines.tlog/link.command.1.tlog
/war-frontlines/x64/Debug/war-frontlines.tlog/link.read.1.tlog
/war-frontlines/x64/Debug/war-frontlines.tlog/link.secondary.1.tlog
/war-frontlines/x64/Debug/war-frontlines.tlog/link.write.1.tlog
/war-frontlines/x64/Debug/war-frontlines.tlog/rc.command.1.tlog
/war-frontlines/x64/Debug/war-frontlines.tlog/rc.read.1.tlog
/war-frontlines/x64/Debug/war-frontlines.tlog/rc.write.1.tlog
/war-frontlines/x64/Debug/war-frontlines.tlog/war-frontlines.lastbuildstate
/war-frontlines/x64/Debug/WorldMap.obj
/war-frontlines/x64/Debug/worldmap.obj.enc
